

.hero {
  text-align: center;
  padding: 12px 0 8px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 16px;
    border-radius: 14px;
  background: rgba(79, 2, 157, 0.589);
  box-shadow:   0 10px 15px rgba(0, 0, 0, 0.438);

}

.coin-img {
  width: 96px;
  height: 96px;
  margin: 12px auto;
  border-radius: 12px;
  object-fit: cover;
}

.coin-title {
  margin: 8px 0 4px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.price {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  color: rgb(221, 125, 243);
}

.change-badge {
  margin-bottom: 12px;
}

.metrics-card {
  --background: rgba(21, 4, 38, 0.729);
  backdrop-filter: blur(4px);
  border-radius: 14px;
  box-shadow: 0 8px  20px rgba(0, 1, 20, 0.626);
  overflow: hidden; 
  color: aliceblue;
  margin-top: 20px;
}

.chart-card {
  --background: transparent;
}

.tv-widget {
  height: 240px; 
}

ion-item{
  --background: rgb(23, 2, 40) !important;
  color: aliceblue;
}

ion-note{
  --background: rgb(42, 1, 107) !important;
  color: rgb(255, 168, 252);
}

.chart-card ion-card-content{
  padding: 0;
  box-shadow: 0 8px 9cap 20px rgba(0, 1, 20, 0.626);  
}

.add-button {
  --background: #d400c6e8;
  --color: #ffffffec;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(94, 0, 255, 0.6);
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15%;
}
