// .coin-card{
//       --background: #04b20f14;
//       --box-shadow: 3px 60px 20px 30px rgb(23, 231, 210);
//       border-radius: 16px;
//       border: 1px solid rgba(255,255,255,.06);
//       text-align: center;
//       transition: transform .15s ease, box-shadow .2s ease, border-color .2s ease;
// }

// .coin-card:hover{ 
//     transform: translateY(-3px); 
//           --box-shadow: 3px 60px 20px 30px rgb(23, 231, 210);

// }


// ion-card.coin-card::part(native){
//   background: #04b20f14;                 /* antes usabas --background */
//   box-shadow: 20px 12px 28px 300px rgba(23,231,210,.28);
//   border: 1px solid rgba(255,255,255,.06);
//   border-radius: 16px;
//   transition: transform .15s ease, box-shadow .2s ease, border-color .2s ease;
// }

// ion-card.coin-card:hover::part(native){
//   transform: translateY(-3px);
//   box-shadow: 87px 18px 40px 20px rgba(23,231,210,.38);
// }

.coin-card{
--background: #00000051;
  box-shadow: 0 20px 38px rgba(0, 7, 7, 0.459); 
  border: 1px solid rgba(255,255,255,.06);
  border-radius: 16px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.778);
}
.coin-card:hover{ 
  transform: translateY(-3px);
  box-shadow: 0 18px 20px rgba(232, 14, 239, 0.679);
  transition: transform .15s ease, box-shadow .2s ease, border-color .2s ease;
  
}


ion-img{ 
    width:64px; height:64px; margin:16px auto 8px;
}   
ion-card-title{
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(240, 248, 255, 0.915);

}
ion-img{ 
    width:64px; height:64px; margin:16px auto 8px; 
}
