.profile-content {
  --background: #0c0c15;
  color: #fff;
}

.profile-header {
  margin-top: 24px;

  .profile-avatar {
    width: 96px;
    height: 96px;
    margin: 0 auto;
    border: 3px solid #fc3eb3;
    box-shadow: 0 0 8px rgba(2, 0, 22, 0.4);
  }

  .profile-name {
    margin-top: 12px;
    font-size: 1.4rem;
    font-weight: 600;
  }

  .profile-email {
    font-size: 0.9rem;
    color: #ede2e2;
  }

  h2{
    padding-top: 25px;
  }
}
ion-list {
  background: transparent;
  border: none;
}

ion-back-button {
  --color: #c68ff4;
}

.profile-avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
}


.profile-card {
  margin-top: 24px;
  background: rgba(143, 6, 255, 0.418);
  border-radius: 16px;
  box-shadow: 0 10px 20px  rgba(0, 0, 0, 0.4);

  ion-card-title {
    font-weight: 600;
    color: #dcc3ee;
    font-size: 1.2rem;
  }
  
  ion-item {
    
    color: #fff;
  }

  ion-note{
    color: #ffffff;
    font-size: 0.9rem;
  }
}

ion-card-content {
  padding: 16px;
  
}
.profile-options {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);

  ion-item {
    border-radius: 10px;
    margin: 8px 12px;

    ion-icon {
      color: #b57cff;
    }

    
  }
}

