
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/home" text="" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="about-content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>CryptoMax</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p >
        CryptoMax es una aplicación diseñada para ayudarte a gestionar y monitorear tus inversiones en criptomonedas de manera sencilla y eficiente.
      </p>
      <p>
        Con CryptoMax, podés agregar tus criptomonedas favoritas, registrar tus compras y ventas, y mantener un seguimiento actualizado de tu portafolio.
      </p>
      <br>
      <p class="goal-cryptomax">
        ¡Nuestra misión es proporcionarte una herramienta intuitiva y segura para que puedas tomar decisiones informadas sobre tus inversiones!
      </p>
      <br>

      <p style="font-size: 0.8rem; color: rgb(223, 163, 255);">
        ¡Gracias por elegir CryptoMax para gestionar tus activos digitales!
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contacto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Si tenéss alguna pregunta o necesitás soporte, no dudes en contactarnos:</p>
      <ul>
        <li>Email: soporte@cryptomax.com</li> 
        <li>Teléfono: +54 93030047</li>
        <li>Sitio web: www.cryptomax.com</li>
      </ul>

      <ion-button (click)="contactSupport()" expand="block">
        Contactar soporte
      </ion-button> 
      </ion-card-content>   
  </ion-card>
</ion-content>
