<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home">Principal</ion-item>
      <ion-item routerLink="/about">Sobre crypto Max</ion-item>
      <ion-item routerLink="/prices">Precios</ion-item>
      <ion-item routerLink="/profile">Perfil</ion-item>
      <ion-item routerLink="/profile">Wallets</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
