<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true"  >
        <ion-item routerLink="/home" routerDirection="root" detail="true">Home </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/about" routerDirection="forward" detail="true">Sobre Crypto Max</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/prices" routerDirection="forward" detail="true"> Cotizaciones </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/profile" routerDirection="forward" detail="true">Perfil</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/my-cryptos" routerDirection="forward" detail="true">Wallets</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
