<ion-header >
  <ion-toolbar>
    <ion-title>
      Hola Usuario
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="home-content">

 
  <ion-grid>
    <ion-refresher slot="fixed" (ionRefresh)="refreshDone($event.target)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>



    <ion-row class="balances-row">
      <ion-col size="12" sizeMd="6">
        <ion-card class="balance-card ars">
          <ion-card-header>
            <ion-card-subtitle>Saldo en ARS</ion-card-subtitle>
            <ion-card-title class="amount">
              $ {{ arsBalance }}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12" sizeMd="6">
        <ion-card class="balance-card usd">
          <ion-card-header>
            <ion-card-subtitle>Saldo en USD</ion-card-subtitle>
            <ion-card-title class="amount">
              $ {{ usdBalance }}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-searchbar
    placeholder="Buscar por nombre o símbolo"
    debounce="250"
    (ionInput)="onSearch($event)" >
    </ion-searchbar>

     <ion-row>
      @for (c of (coins$ | async) ?? []; track c.symbol) {
        <ion-col size="6" sizeMd="4" sizeLg="3">
          <app-coin-card
            [name]="c.name"
            [image]="c.image"
            (cardClick)="goToDetail(c.symbol)">
          </app-coin-card>
        </ion-col>
      } @empty {
        <ion-col size="12" class="ion-text-center ion-padding">No hay monedas</ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
