<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Hola, Maximiliano</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">

  <ion-card class="balance-card">
    <ion-card-header>
      <ion-card-subtitle>Tu balance total</ion-card-subtitle>
      <ion-card-title>${{ usdBalance | number:'1.2-2' }} USD</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-badge color="success">+0.12% hoy</ion-badge>
    </ion-card-content>
  </ion-card>

  <div class="main-actions">
    <div class="action" (click)="goToAdd()">
      <ion-img src="assets/coins/add.png" alt="Agregar"></ion-img>
      <p>Agregar</p>
    </div>
    <div class="action" (click)="goToMyCriptos()">
      <ion-img src="assets/coins/wallet.png" alt="Mis Criptos"></ion-img>
      <p>Mis Transacciones</p>
    </div>
    <div class="action" (click)="goToProfile()">
      <ion-img src="assets/coins/user.png" alt="Perfil"></ion-img>
      <p>Perfil</p>
    </div>
  </div>

  <ion-card class="promo-card">
    <ion-card-content>
      Revisá cuales son los precios y agregalos a tu Wallet 🚀
    </ion-card-content>
  </ion-card>

  <ion-card class="market-card" (click)="goToPrices()">
    <ion-card-content class="watch-market-content">
      <h3>Ver cotizaciones</h3>
    </ion-card-content>
  </ion-card>

</ion-content>
